# Install as ~/.config/systemd/user/keyadder@.service

[Unit]
BindsTo=%i.mount

[Service]
ExecStart=sh -x -c 'for i in %f/ssh/id_*.pub; do ssh-add - <$${i%%.pub}; done'
ExecStop=ssh-add -D

Type=oneshot
RemainAfterExit=true
